body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.button-return {
    position: relative;
    right: 500px;
    bottom: 300px;
    padding: 5px 10px; /* Ajusta el espaciado del botón */
    background-color: #f2f2f2dc;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/* Estilos adicionales para que el botón sea más grande y resalte al pasar el ratón */
.button-return:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.weather-container {
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    font-family: 'Raleway', sans-serif;
}

.weather-card {
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #333;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    color: #777;
    margin: 10px 0;
    padding: 0;
}

.temperature {
    font-size: 24px;
    color: #007BFF;
    margin: 10px 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .min,.max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
  }
  
  .max {
    align-items: flex-start;
    border-left: 2px solid rgb(0, 0, 0);
  }
  
  .maxHeading,.minHeading {
    font-weight: 600;
    color: #333;
  }
  
  .maxTemp,.minTemp {
    font-weight: 500;
    color: rgb(56, 56, 56);
  }
.current-temp {
    font-weight: bold;
}

.feels-like, .max-temp, .min-temp {
    margin: 5px 0;
    padding: 0;
}
