body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.logo img {
    width: 40px;
}
.logo p{
    justify-content: center;
}
.container {
    background-color: rgba(255, 255, 255, 0.568);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

button:hover {
    background-color: #0056b3;
}
